#table1{
    background-color: #074a9c;
    width: 100%; 
    font-family: Arial, sans-serif; 
    color: white;
}
h1{  
    width: 100%; 
    font-family:Arial, sans-serif; 
    border:60%; 
    font-size: 500%; 
    color: white; 
}
h2{
    width: 100%;
    text-align: left;
    font-family: Arial, sans-serif;
}
